/* CSS Reset */
*{
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
}
/* Header */
.bg-logo{
    height: 150px;
    background-color: rgb(43, 198, 250);
    background-image: url(../img/pattern.png);
    background-size: 35%;
    line-height: 150px;

}

#logo{
    height: 50px;
    width: auto;
    vertical-align: middle;
    margin-left: 10px;
}

/* Main */
.main-title{
    font-size: 35px;
}
address{
    font-style: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}
.author{
    font-size: 20px;
    color: rgb(128, 128, 128);
}
.data{
    font-size: 12px;
    color: rgb(128, 128, 128);
}
a{
    text-decoration: none;
    color: rgb(43, 198, 250);
}
figcaption{
    font-size: 12px;
}

/* Paragrafo e lista */
.main-paragraph{
    margin: 10px 0px;
}
ul{
    list-style: circle;
}

/* Table */
table{
border-collapse: collapse;
margin: 20px 0px;
}
thead{
    background-color:rgb(43, 198, 250);
}
.row-blue{
    background-color: lightblue;
}
.table-sizing{
    width: 50%;
}